body,
html {
  background-color: #221533;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: background-image 0.5s;
}
body.gradient {
  background-image: radial-gradient(#221533 45%, #180f24);
}
#login {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4em;
}
#login h1 {
  font-size: 3em;
  font-family: 'Courier New', Courier, monospace;
  line-height: 0.85em;
}
#login .tiny {
  font-size: 0.5em;
  white-space: nowrap;
}
#login #name-enter {
  background: #221533;
  color: white;
  border: 4px solid #8d5ace;
  padding: 4px 4px 4px 0;
  line-height: 1em;
  text-indent: 6px;
  width: 16em;
  overflow: visible;
}
#login #join-button {
  background: #221533;
  color: white;
  border: 4px solid #8d5ace;
  padding: 4px 1em;
  transition: background-color 50ms, color 50ms;
}
#login #join-button:hover {
  background: #352150;
}
#login #join-button:active {
  background: #8d5ace;
  color: #352150;
}
#login #warn {
  color: #e25f4a;
  text-align: center;
  padding: 0 2em;
}
#login #loading {
  color: #8d5ace;
  text-align: center;
  padding: 0 2em;
  font-size: 1.5em;
  font-weight: bold;
}
#login .center {
  width: 50%;
  margin: 0 auto;
}
#login .padding-below {
  padding-bottom: 1em;
}
#login #top {
  width: 100%;
}
#login #login-form {
  width: 20.5em;
  margin: 0 auto;
}
.full-width {
  width: 100% !important;
}
#fade-overlay {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
}
#fade-overlay.time-250ms {
  transition: background-color 0.25s;
}
#fade-overlay.fade {
  background: #1c122b;
}
/* CHAT ROOM */
.chat {
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 1.2em;
}
.chat .chat-content {
  border-radius: 10px;
  border-top-right-radius: 0;
  padding: 0.5em 0;
  background: #1b1027;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chat .input-area {
  height: 3em;
  width: 100%;
  position: relative;
  top: 0em;
}
.chat .input-area input {
  position: relative;
  top: 0.5em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #352150;
  border: none;
  padding: 1em;
  color: white;
}
.chat .message-list-wrapper {
  margin-bottom: -3em;
  padding-bottom: 2em;
  position: relative;
  top: -0.5em;
  width: 100%;
  height: 100%;
}
.chat .message-list-wrapper .message-list {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 0.35em 1em;
}
.chat .message-list-wrapper .message-group:not(:first-child) {
  border-top: 1.5px solid #392352c0;
}
.chat .message-list-wrapper .message-group {
  padding: 0.25em 0;
}
.chat .message-list-wrapper .message-special {
  color: rgba(255, 255, 255, 0.8);
}
.chat .message-list-wrapper .message-special b {
  color: rgba(255, 255, 255, 0.9);
}
.chat .message-list-wrapper .message div {
  display: inline;
  white-space: normal;
}
.chat .message-list-wrapper .message .message-author {
  font-weight: bold;
}
.chat .message-list-wrapper .message .message-author::after {
  font-weight: normal;
  content: ':';
  padding-right: 0.3em;
}
.chat .message-list-wrapper .message .message-blue {
  color: #5fccff;
}
.no-select,
#login h1,
#login #loading {
  -webkit-user-select: none;
  /* Safari, iOS, and Android */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
.line-through {
  text-decoration: line-through white;
  color: rgba(255, 255, 255, 0.65);
}
::-webkit-scrollbar {
  background: #221533;
  width: 18px;
}
::-webkit-scrollbar-button {
  background: rgba(0, 0, 0, 0);
  height: 1px;
}
::-webkit-scrollbar-track {
  background: #1b1027;
  border-radius: 24px;
  border: 4px solid #221533;
}
::-webkit-scrollbar-thumb {
  background: #41255c;
  border-radius: 24px;
  border: 4px solid #221533;
}
textarea,
input,
button {
  outline: none;
}
